exportjson/test-node2d.json
[
    {
        "id": "94fe8487fd78000b",
        "type": "subflow",
        "name": "Test Node 2D",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 160,
                "wires": [
                    {
                        "id": "0887fe4cea42aea5"
                    },
                    {
                        "id": "ca9f1db113426817"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "141df1befb3a6218",
        "type": "inject",
        "z": "94fe8487fd78000b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "0887fe4cea42aea5",
                "ca9f1db113426817"
            ]
        ]
    },
    {
        "id": "0887fe4cea42aea5",
        "type": "debug",
        "z": "94fe8487fd78000b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca9f1db113426817",
        "type": "debug",
        "z": "94fe8487fd78000b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    }
]